.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0px;
  width: 100%;
}

.modal__container {
  height: 33rem;
  width: 50rem;
  z-index: 1;
  overflow: hidden;
  border: thin solid darkgray;
  box-shadow: 0 2px 5px gray;
  position: relative;
  background: white;
}

.modal__heading {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
  background: whitesmoke;
  margin: 0;
  text-align: start;
  padding: var(--spacing-extra-small);
}

.modal__children {
  padding: var(--spacing-small);
}

.modal__buttons {
  border-top: thin solid gray;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-small);
  bottom: 0;
  left: 0;
  right: 0;
}

.modal__btn--cancel {
  background: none;
  color: gray;
}

.modal__btn--confirm {
  background: gray;
  color: white;
}
